<div class="bg-green-800 py-10 flex flex-col items-center gap-10 p-10">

  <div class="flex flex-col lg:flex-row justify-around">
    <app-character-sheet [character]="lucy"/>
    <app-character-sheet [character]="julz"/>
  </div>

  <app-countdown/>

  <div class="w-full">
    <iframe width="100%"
            src="https://petracoding.github.io/pinterest/board.html?link=juliansteigerwaldeu/test/&hideHeader=1&hideFooter=1&transparent=1"></iframe>
  </div>

  <div class="w-full">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d323.24434910862055!2d8.587934642291456!3d49.59860195185565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4797d115c6275ceb%3A0xedd396e25b078df2!2sSchloss%20Rennhof!5e0!3m2!1sde!2sde!4v1736597785503!5m2!1sde!2sde"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <div class="w-full">
    <iframe style="border-radius:12px"
            src="https://open.spotify.com/embed/playlist/1F0XSKMsiwHxNAAEeUeiMF?utm_source=generator&theme=0"
            width="100%" height="480px" frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
</div>
