@let char = character();

<div class="p-8 text-gray-800 rounded-lg shadow-lg old-paper">
  <div class="flex items-center space-x-6 mb-8">
    <img
      [src]="char.imagePath"
      alt="Character Portrait"
      class="w-32 h-32 rounded-full border-4 border-green-900 object-cover"
    />
    <div>
      <h2 class="text-2xl font-bold text-green-900">Name: {{ char.name }}</h2>
      <div class="flex flex-col md:flex-row md:gap-4 text-gray-600">
        <span>Race: {{ char.race }}</span>
        <span>Class: {{ char.class }}</span>
        <span>Level: {{ char.level }}</span>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 mb-8">
    <div class="text-center bg-amber-100 p-4 rounded shadow">
      <h3 class="text-lg font-bold text-green-900 hidden sm:block">Strength</h3>
      <h3 class="text-lg font-bold text-green-900 sm:hidden">STR</h3>
      <p class="text-2xl font-bold">{{ char.attributes.str }}</p>
    </div>
    <div class="text-center bg-amber-100 p-4 rounded shadow">
      <h3 class="text-lg font-bold text-green-900 hidden sm:block">
        Dexterity
      </h3>
      <h3 class="text-lg font-bold text-green-900 sm:hidden">DEX</h3>
      <p class="text-2xl font-bold">{{ char.attributes.dex }}</p>
    </div>
    <div class="text-center bg-amber-100 p-4 rounded shadow">
      <h3 class="text-lg font-bold text-green-900 hidden sm:block">Charisma</h3>
      <h3 class="text-lg font-bold text-green-900 sm:hidden">CHA</h3>
      <p class="text-2xl font-bold">{{ char.attributes.cha }}</p>
    </div>
    <div class="text-center bg-amber-100 p-4 rounded shadow">
      <h3 class="text-lg font-bold text-green-900 hidden sm:block">Wisdom</h3>
      <h3 class="text-lg font-bold text-green-900 sm:hidden">WIS</h3>
      <p class="text-2xl font-bold">{{ char.attributes.wis }}</p>
    </div>
    <div class="text-center bg-amber-100 p-4 rounded shadow">
      <h3 class="text-lg font-bold text-green-900 hidden sm:block">
        Intelligence
      </h3>
      <h3 class="text-lg font-bold text-green-900 sm:hidden">INT</h3>
      <p class="text-2xl font-bold">{{ char.attributes.int }}</p>
    </div>
    <div class="text-center bg-amber-100 p-4 rounded shadow">
      <h3 class="text-lg font-bold text-green-900 hidden sm:block">
        Constitution
      </h3>
      <h3 class="text-lg font-bold text-green-900 sm:hidden">CON</h3>
      <p class="text-2xl font-bold">{{ char.attributes.con }}</p>
    </div>
  </div>

  <!-- Backstory -->
  <div class="mb-8">
    <h3 class="text-xl font-bold text-green-900 mb-2">Backstory</h3>
    <p class="text-gray-600">
      {{ char.backstory }}
    </p>
  </div>

  <!-- Abilities -->
  <div class="mb-8">
    <h3 class="text-xl font-bold text-green-900 mb-2">Special Abilities</h3>
    <ul class="list-disc list-inside text-gray-600">
      @for (ability of char.abilities; track ability) {
        <li>{{ ability }}</li>
      }
    </ul>
  </div>

  <!-- Equipment -->
  <div class="mb-8">
    <h3 class="text-xl font-bold text-green-900 mb-2">Equipment</h3>
    <ul class="list-disc list-inside text-gray-600">
      @for (equipment of char.equipment; track equipment) {
        <li>{{ equipment }}</li>
      }
    </ul>
  </div>

  <div>
    <h3 class="text-xl font-bold text-green-900 mb-2">Companions</h3>

    <div class="flex flex-col gap-4 md:flex-row">
      @for (companion of char.companions; track companion.name) {
        <div class="flex items-center space-x-6">
          <img
            [src]="companion.imagePath"
            alt="Character Portrait"
            class="w-20 h-20 rounded-full border-2 border-green-900 object-cover"
          />
          <div>
            <h2 class="text-lg font-bold text-green-900">Name: {{ companion.name }}</h2>
            <div class="flex flex-col">
              <span>Race: {{ companion.race }}</span>
              <span>Class: {{ companion.class }}</span>
              <span>Level: {{ companion.level }}</span>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
