.image-background {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 500px;
}

.transparent {
  height: 100%;
  background-color: transparent;
}

.font-italianno {
  color: var(--text-primary);
  font-family: 'italianno', cursive;
}

.font-petitFormalScript {
  @apply text-xl md:text-2xl text-center;
  color: var(--text-secondary);
  font-family: 'petitFormalScript', cursive;
}

.intro-text {
  @apply flex flex-col gap-8 px-6 text-xl md:text-2xl text-center;
  line-height: 3rem;
  color: var(--text-secondary);
  max-width: 1200px;
}

app-character-sheet {
  max-width: 620px;
}
