.image-background {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 500px;
}

.non-transparent {
  height: 15%;
  background-color: aqua;
}

.transparent {
  height: 100%;
  background-color: transparent;
}

.font-test {
  color: white;
  font-family: 'italianno', cursive;
  font-weight: 500;
}
