@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

body, html {
  height: 100%;
}

@font-face {
  font-family: 'italianno';
  src: url('../public/fonts/Italianno-Regular.ttf');
}
